.flex-container {
  padding: 10px;
  margin: 10px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.home {
  flex-direction: column;
}
